<div class="container">
  <div class="row">
    <h3 class="text-center about-header text-section">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ratione officiis sequi? Ipsam consectetur
      recusandae voluptatibus adipisci iure, rem itaque dolorem fuga error odit molestias architecto fugiat sed ipsa
      libero!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nemo quos dolorum neque quidem unde mollitia
      deserunt nostrum repellendus? Veritatis qui nemo est dolore similique id iusto numquam molestias molestiae.</p>

    <div class="useful-information text-section">
      <h4>Some usefull third resources information</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis saepe amet autem dolor quasi, possimus qui aliquam ab vel voluptate incidunt suscipit deleniti numquam id blanditiis esse, maiores laborum corrupti!</p>
      <p>Find relevant information <a class="third-resource-link" href="https://en.wikipedia.org/wiki/Object-oriented_programming">here</a></p>
    </div>

    <div class="additional-notes text-section">
      <h4>Additional notes</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis saepe amet autem dolor quasi, possimus qui aliquam ab vel voluptate incidunt suscipit deleniti numquam id blanditiis esse, maiores laborum corrupti!</p>
      <p>Contact us:</p>
      <p>E-mail: superapp@email.com</p>
      <p>Tel: +1 (234) 567-89-99</p>
    </div>
  </div>
</div>
