
<div class="container">
  <div class="row">
    <div class="col-sm-12 welcome-container d-flex justify-content-center">
      <h2>Welcome to Super App!</h2>
    </div>

    <div class="main-content col-sm-12 d-flex justify-content-end">
      <div class="details col-sm-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, veniam dolores inventore suscipit exercitationem ipsam possimus debitis earum sunt impedit deleniti reprehenderit facilis. Tenetur corrupti cupiditate id minima sed iure.</p>
        <mat-list class="col-sm-8">
          <mat-list-item>Lorem</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Ipsum</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Dolor</mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
