<ng-container *ngIf="(favoritService.favoritList$ | async) === null">
  <ngx-spinner [name]="listPreloadSpiner"
    [bdColor]="'rgba(51,51,51,0)'"
    [color]="'rgba(51,51,51)'"
    [fullScreen]="false"
    type="ball-spin-clockwise"
    size="medium">
  </ngx-spinner>
</ng-container>

<div class="container" #content>
  <div class="row">
    <div class="list-container col-sm-12">
      <p>Create you own favorit list</p>
      <form class="favorits-form" [formGroup]="favoritForm" #favoritFormDirective="ngForm">
        <mat-form-field class="favorits-field">
          <mat-label>Favorit</mat-label>
          <input matInput maxlength="256" formControlName="favoritItemControl">
        </mat-form-field>
        <button mat-raised-button class="ml-3"
          [disabled]="favoritForm.controls.favoritItemControl.invalid || addFavoritSubscription"
          (click)="addFavoritItem()"
        >
          <ngx-spinner [name]="addButtonSpiner" [fullScreen]="false" type="ball-spin-clockwise" size="small"></ngx-spinner>
          Add
        </button>
      </form>

      <mat-list class="col" role="list">
        <mat-list-item *ngFor="let favoritItem of (favoritService.favoritList$ | async) as favoritList" role="listitem">{{ favoritItem }}</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
